:root {
	--lightest-gray: #dee2e6;
  }

#objectives {
	background-color: var(--lightest-gray);
	padding: 1rem;
}

#objectives ul li {
	list-style-image: url(/img/getting-started/check.svg);
	margin-left: 1rem;
}

.tut-img {
	margin: 1rem;
}
