.DS_Store
node_modules
**/build
**/.svelte-kit
**/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock



**/.evidence*
*.snippet.svelte
**/template/*
/packages/components/*
**/sites/docs/*
**/dist/*
.changeset/*

**/static/data/*

# Ignore this file because it uses top-level await and ESLint can't parse that.
packages/evidence/scripts/svelte.config.js
**/node_modules
**/**/node_modules
packages/ui/icons/src

# Don't lint playwright reports
**/playwright-report*

storybook-static

# This is an invalid test file that should be ignored
**/invalid.js
**/noExport.js