.DS_Store
node_modules
**/build
**/.svelte-kit
**/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
package.json
yarn.lock


**/.evidence*
/packages/preprocess/src/process-frontmatter/handle-og.svelte
**/template/*
/packages/components/*
**/dist/*   
.changeset/*

*.yaml
/packages/ui/storybook-static/*
**/sites/example-project/src/pages/**/+page.md
**/sites/docs/pages/**/*
**/sites/test-env/pages/**/*
**/static/data/*
**/static/geo-json/*

**/node_modules
**/**/node_modules
packages/lib/sdk/types
packages/ui/icons/src