WORKOS_CLIENT_ID="client_01HE8FGYHQ8WTT37CHWY8ZFGCA"
PUBLIC_QUERY_ENGINE_HOST="https://query-engine-service.evidence.studio"
PUBLIC_STUDIO_HOST="https://evidence.studio"
PUBLIC_MANAGEMENT_SERVICE_HOST="https://api.evidence.studio"