/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #189176;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 80%;
  --ifm-table-cell-padding: 4px;
  --ifm-menu-link-padding-vertical: 0.3em;
  --ifm-leading: 12px;
  /* --ifm-spacing-horizontal: 0px; */
  --ifm-pre-padding: 0.7em;
  /* --ifm-container-width: 100px !important; */
  /* --ifm-global-spacing: 0px; */
}

.menu__link {
  font-size: 0.95em;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.container {
  margin-left: 30px;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  article h2 {
    font-size: 1.2rem !important;
  }
  article h3 {
    font-size: 1rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 350px) {
  :root {
    --ifm-font-size-base: 14px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  article h2 {
    font-size: 1.2rem !important;
  }
  article h3 {
    font-size: 1rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}


@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 16px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
  article h2 {
    font-size: 1.4rem !important;
  }
  article h3 {
    font-size: 1.15rem !important;
  }
}



article {
  max-width: 1000px;
  margin-left: 0;
  margin-right: auto;
}

.gradient {
  background: -webkit-linear-gradient(315deg, #046ade 0%, #08a86d 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.big-link {
  color: #006ce8;
  text-align: center;
}

.big-link:hover {
  color: #0054b5;
  text-decoration: none;
}

.overview {
  font-size: 1rem;
}

.logo-background {
  background-color: white;
  width: 50%;
  height: auto;
}

.community-header {
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  .community-header {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 350px) {
  .community-header {
    font-size: 1.2rem !important;
  }
}

.gallery {
  width: 49%;
  height: 250px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  float: left;
  padding: 8px;
  text-align: center;
  padding-top: 6px;
  margin-right: 1%;
  padding-bottom: 0px;
  box-shadow: 1px 1px 4px #d4d4d4;
  background-color: white;
}

@media screen and (max-width: 500px){
  .gallery {
    width: 100%;
  }
}

.gallery:hover {
  transform: scale(1.05);
}

.gal-width {
  width: 100%;
  /* display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100% ;
  align-content: center; */
}

.lbl {
  padding-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  margin-top: 0;
  font-size: 0.9em;
  font-weight: 600;
  /* color: #3d3d3d; */
  /* background: -webkit-linear-gradient(315deg, #046ade 0%, #08a86d 25%); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

p {
  margin: 0;
}

table {
  font-size: 0.8em;
  padding: 0px;
  width: 100%;
  overflow-x: auto;
}

td {
  min-width: 110px;
}

.tcenter {
  text-align: center;
}

.tleft {
  text-align: left;
}

h3 {
  margin-bottom: 5px;
}