/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #189176;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 80%;
  --ifm-table-cell-padding: 4px;
  --ifm-menu-link-padding-vertical: 0.3rem;
  --ifm-leading: 12px;
  /* --ifm-spacing-horizontal: 0px; */
  --ifm-pre-padding: 0.7em;
  /* --ifm-container-width: 100px !important; */
  /* --ifm-global-spacing: 0px; */
}

.menu__link {
  font-size: 0.95em;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.container {
  margin-left: 1.9em;
}


@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 14px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  article h2 {
    font-size: 1.2rem !important;
  }
  article h3 {
    font-size: 1rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
  .container {
    margin-left: auto;
  }
}

@media screen and (max-width: 350px) {
  :root {
    --ifm-font-size-base: 12px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  article h2 {
    font-size: 1.2rem !important;
  }
  article h3 {
    font-size: 1rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
  .container {
    margin-left: auto;
  }
}


@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 16px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
  article h2 {
    font-size: 1.4rem !important;
  }
  article h3 {
    font-size: 1.15rem !important;
  }
}



article {
  max-width: 1000px;
  margin-left: 0;
  margin-right: auto;
}

.gradient {
  background: -webkit-linear-gradient(315deg, #046ade 0%, #08a86d 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.big-link {
  color: #006ce8;
  text-align: center;
}

.big-link:hover {
  color: #0054b5;
  text-decoration: none;
}

.overview {
  font-size: 1rem;
}

.logo-background {
  background-color: white;
  width: 50%;
  height: auto;
}

.community-header {
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  .community-header {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 350px) {
  .community-header {
    font-size: 1.2rem !important;
  }
}


.gallery-container {
  width: 100%;
  /* display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100% ;
  align-content: center; */
}


p {
  margin: 0;
}

table {
  font-size: 0.8em;
  padding: 0px;
  width: 100%;
  overflow-x: auto;
}

td {
  min-width: 110px;
}

.tcenter {
  text-align: center;
}

.tleft {
  text-align: left;
}

h3 {
  word-wrap: normal;
}

h2 {
  word-wrap: normal;
  width: 100%;
}

.item-header {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0.1em;
  word-wrap: normal;
  color: #3b3b3b;
}

.item-body-centered {
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 90%;
}

.item-body-top {
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
}

.gallery-container-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

@media screen and (max-width: 500px){
  .gallery-container-grid {
    grid-template-columns: 100%;
  }
  .gallery-container-grid > h2, h3 {
    grid-column: 1 / 2;
  }
}

@media screen and (max-width: 1000px) and (min-width: 501px){
  .gallery-container-grid {
    grid-template-columns: 50% 50%;
  }
  .gallery-container-grid > h2, h3 {
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 1350px) and (min-width: 1001px){
  .gallery-container-grid {
    grid-template-columns: 100%;
  }
  .gallery-container-grid > h2, h3 {
    grid-column: 1 / 2;
  }
}

@media screen and (min-width: 1351px){
  .gallery-container-grid {
    grid-template-columns: 50% 50%;
  }
  .gallery-container-grid > h2, h3 {
    grid-column: 1 / 3;
  }
}

.gallery-item-grid {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 0px;
  box-shadow: 1px 1px 4px #d4d4d4;
  background-color: white;
  max-height: 40vh;
  transition:box-shadow 350ms;
}

.gallery-item-grid:hover {
  box-shadow: 1px 2px 5px 2px #d4d4d4;
}

.gallery-container-grid > h2, h3 {
  margin-bottom: 0px;
  margin-top: 10px;
}

.gallery-container-grid > h2 {
  margin-top: 20px;
}

.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50%/1.75rem 1.75rem;
  margin-left: auto;
  min-width: 1.25rem;
}

.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50%/1.75rem 1.75rem;
}

/* .theme-doc-sidebar-item-link-level-1 .menu__link {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
} */


.admonition-note {
  background-color: rgb(240, 240, 240, 0.4);
}