table {
  font-size: 14px;
  border-collapse: collapse;
  font-family: sans-serif;
  /* Offset the cell padding to get the outside edges aligned w/ the parent */
  margin-left: -8px;
  width: calc(100% + 16px);
}
th {
  max-width: 1px;
  font-weight: 600;
  padding: 0px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}
td {
  padding: 4px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* tr:hover {
  background-color: rgb(247, 249, 250);
} */
.align_left {
  text-align: left;
}
.align_right {
  text-align: right;
}
.wide_column {
  min-width: 120px;
}
.medium_column {
  min-width: 80px;
}
.narrow_column {
  max-width: 60px;
}
.input_box {
  width: 100%;
}

div.input-item {
  font-family: var(--ui-font-family);
  color: var(--grey-999);
  font-size: 16px;
  margin-top: 1.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  box-sizing: border-box;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid var(--grey-300);
  padding: 0.25em 0.25em 0.25em 0.25em;
  margin-left: auto;
  width: 65%;
  padding: 0.35em;
  color: var(--grey-999);
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  font-size: 12px;
}
input:required {
  box-shadow: none;
}
input:focus {
  outline: none;
}
