img {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	border-radius: 4px;
}

td > img {
	max-width: unset;
	border-radius: unset;
}

body {
	font-family: 'Spectral', serif;
	font-size: 18px;
	line-height: 1.6;
	font-weight: normal;
	color: var(--grey-900);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	/* background-color: #F8FAFC ; */
}

p,
ul,
ol {
	margin-block-end: 1em;
	margin-block-start: 0em;
	-moz-font-feature-settings: 'onum';
	-ms-font-feature-settings: 'onum';
	-webkit-font-feature-settings: 'onum';
	font-feature-settings: 'onum';
}

/* lists */

ol {
	@apply list-decimal ps-10;
}
ul {
	@apply list-disc ps-10;
}

/* 1st level list */
ul,
ol {
	/* 2nd level unordered list */
	& ul {
		@apply list-circle;
	}
	/* 2nd level ordered list */
	& ol {
		@apply list-lower-alpha;
	}

	/* any 2nd level list */
	& ul,
	& ol {
		margin-block-end: 0em;

		/* 3rd level unordered list */
		& ul {
			@apply list-square;
		}
		/* 3rd level ordered list */
		& ol {
			@apply list-lower-roman;
		}
	}

	li {
		@apply list-item;
		text-align: -webkit-match-parent;

		& + li {
			@apply mt-1;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-family: var(--ui-font-family);
	line-height: 1.5;
	margin: 0.8em 0 0.3em 0;
	scroll-margin-top: var(
		--header-height
	); /* ensure that table of contents links scroll with room for the header */
}

h1:first-of-type {
	font-size: 1.8em;
	font-weight: bold;
	color: var(--grey-800);
	border-top: none;
	padding-top: 0;
	margin: 0em 0 0.2em 0;
}

h1 {
	font-size: 1.8em;
	font-weight: bold;
	color: var(--grey-800);
	display: block;
	border-top: 1px solid var(--grey-200);
	padding-top: 0.2em;
}

h1:active {
	display: block;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
	color: var(--grey-800);
}

h3 {
	font-size: 0.9em;
	font-weight: bold;
	color: var(--grey-800);
}

h4 {
	font-size: 0.9em;
	text-transform: lowercase;
	font-family: 'Spectral SC', serif;
	letter-spacing: 0.04em;
}

h5 {
	font-size: 0.8em;
	font-family: 'Spectral', serif;
	letter-spacing: 0.05em;
}

h6 {
	font-size: 0.65em;
	font-family: 'Spectral', serif;
	letter-spacing: 0.025em;
}

article a {
	color: var(--blue-link);
	text-decoration: underline;
	text-decoration-color: var(--blue-100);
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.05em;
}

article a:hover {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--blue-200);
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.05em;
}

hr {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid var(--grey-200);
	border-bottom: none;
	border-left: none;
	border-right: none;
	width: 75%;
}

code {
	font-family: var(--monospace-font-family);
	font-size: 0.75em;
	background-color: var(--grey-100);
	padding: 0.2em 0.2em;
	border: solid 1px var(--grey-200);
	border-radius: 4px;
	color: var(--grey-800);
	-webkit-user-select: all;
	-moz-user-select: all;
	user-select: all;
}

form code {
	font-size: unset;
}

blockquote {
	border-left: 4px solid var(--grey-300);
	padding: 0em 0em 0em 0.75em;
	margin-left: 0;
	margin-right: 0;
	color: var(--grey-600);
}

@media (max-width: 600px) {
	body {
		font-size: 16px;
	}
}

article > table {
	min-width: 100%;
	font-size: 0.75em;
	border-collapse: collapse;
	font-family: var(--ui-font-family);
	text-align: center;
	margin: 1em auto 1.5em auto;
}

article > table th {
	font-weight: 600;
	border-bottom: 1px solid var(--grey-800);
	padding: 0 8px;
	text-overflow: ellipsis;
	overflow: hidden;
}

article > table td {
	max-width: 1px;
	padding: 4px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	/* border: 1px solid var(--grey-200); */
}