name: Linting & Formatting

on:
  pull_request:

jobs:
  lint:
    name: Check project linting
    runs-on: ubuntu-latest
    steps:
      - name: Disable autoclrf
        run: git config --global core.autocrlf false

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v4.0.0
        with:
          version: 8.6.9
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Check Linting & Formatting
        run: pnpm run lint
