name: Linting & Formatting

on:
  pull_request_target:

jobs:
  lint:
    name: Check project linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up pnpm
        uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.23.2
      - name: Set up node v16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Run postinstall scripts
        run: pnpm run postinstall
      - name: Check Linting & Formatting
        run: pnpm run lint
